# Basic



1.  SELECT and WHERE for filtering and selection:

In [ ]:
SELECT *
FROM customers
WHERE state = 'CA';

This query retrieves all data from the "customers" table where the "state" column equals "CA".

2) COUNT, SUM, MAX, GROUP BY, HAVING for aggregating data:

In [ ]:
SELECT product_category, COUNT(*) as num_products
FROM products
GROUP BY product_category
HAVING num_products > 10;

This query counts the number of products in each product category in the "products" table and returns only those categories with more than 10 products.

3) DISTINCT, COUNT DISTINCT for producing useful distinct lists and distinct aggregates:

In [ ]:
SELECT DISTINCT state
FROM customers;

This query retrieves a list of distinct states from the "customers" tabl

In [ ]:
SELECT COUNT(DISTINCT state) as num_states
FROM customers;

This query counts the number of distinct states in the "customers" table.

4) OUTER (e.g. LEFT) and INNER JOIN when/where to use them:

In [ ]:
SELECT *
FROM orders
LEFT JOIN customers ON orders.customer_id = customers.customer_id;

This query retrieves all orders from the "orders" table and includes any corresponding customer information from the "customers" table.

In [ ]:
SELECT *
FROM orders
INNER JOIN customers ON orders.customer_id = customers.customer_id;

This query retrieves only orders from the "orders" table that have a corresponding customer in the "customers" table.

5) Strings and time conversions:

In [ ]:
SELECT CONCAT(first_name, ' ', last_name) as full_name
FROM customers;

This query concatenates the "first_name" and "last_name" columns from the "customers" table and returns the result as a new column called "full_name".

In [ ]:
SELECT DATE_FORMAT(order_date, '%Y-%m-%d') as formatted_date
FROM orders;

This query formats the "order_date" column in the "orders" table to display the date in the format "YYYY-MM-DD".

6) UNION and UNION ALL:

In [ ]:
SELECT product_name
FROM products
WHERE product_category = 'Office Supplies'
UNION
SELECT product_name
FROM products
WHERE product_category = 'Furniture';

This query retrieves all product names from the "products" table in the "Office Supplies" category and combines them with all product names in the "Furniture" category.

# Intermediate:

1) DML/DDL/DCL concepts:

DML stands for Data Manipulation Language and includes commands such as SELECT, INSERT, UPDATE, and DELETE. DDL stands for Data Definition Language and includes commands such as CREATE, ALTER, and DROP. DCL stands for Data Control Language and includes commands such as GRANT and REVOKE.

2) Handling NULLs creatively (e.g. with COALESC

In [ ]:
SELECT COALESCE(first_name, 'N/A') as first_name
FROM customers;

This query replaces any NULL values in the "first_name" column of the "customers" table with the text "N/A".

3) Subqueries and the impact of subqueries on efficiency of the query:

In [ ]:
SELECT *
FROM orders
WHERE customer_id IN (
  SELECT customer_id
  FROM customers
  WHERE state = 'CA'
);

This query retrieves all orders from the "orders" table where the customer is located in California. The subquery is used to retrieve the list of customer IDs in California and can impact the efficiency of the query.

4) Temporary tables:

In [ ]:
CREATE TEMPORARY TABLE temp_table AS (
  SELECT *
  FROM orders
  WHERE order

5) Self joins:

In [ ]:
SELECT a.employee_name, b.employee_name as manager_name
FROM employees a
INNER JOIN employees b ON a.manager_id = b.employee_id;

This query retrieves the name of each employee and the name of their manager from the "employees" table by joining the table to itself based on the "manager_id" and "employee_id" columns.

6) Window functions like PARTITION, LEAD, LAG, NTILE:

In [ ]:
SELECT customer_name, order_date, order_total, 
       SUM(order_total) OVER (PARTITION BY customer_name ORDER BY order_date) as running_total
FROM orders;

This query retrieves the name of each customer, the date of each order, the order total, and a running total of the order totals for each customer. The running total is calculated using a window function with the PARTITION BY clause to group the orders by customer and the ORDER BY clause to sort the orders by date.

7) UDFs (user defined functions):

In [ ]:
CREATE FUNCTION calculate_tax(price DECIMAL(10,2), tax_rate DECIMAL(4,2))
RETURNS DECIMAL(10,2)
BEGIN
  DECLARE tax DECIMAL(10,2);
  SET tax = price * (tax_rate / 100);
  RETURN tax;
END;

SELECT product_name, price, calculate_tax(price, 8.25) as sales_tax
FROM products;

This query creates a user defined function called "calculate_tax" that takes in a price and a tax rate and returns the amount of sales tax. The function is then used in a query to retrieve the name of each product, its price, and the amount of sales tax.

8) Use of indexes in querying to make operations faster:

In [ ]:
CREATE INDEX idx_customer_name ON customers (customer_name);

SELECT *
FROM orders
INNER JOIN customers ON orders.customer_id = customers.customer_id
WHERE customers.customer_name = 'Acme Corporation';

This query creates an index on the "customer_name" column of the "customers" table to make the query faster. The index is then used in a query to retrieve all orders from the "orders" table that are associated with the customer named "Acme Corporation".